{% extends "base.html" %}


{% block content %}
  <h3>Income</h3>
  {% if income_list %}
    <ul>
    {% for transaction in income_list %}
      <li>{{ transaction.source }} + {{ transaction.amount }} {{ transaction.account.currency }}
        ({{ transaction.transaction_date }})
      </li>
    {% endfor %}
    </ul>
    <p>Total income sum: + {{ total_income_sum }} </p>
  {% else %}
    <p>No income</p>
  {% endif %}

  <h3>Expense</h3>
  {% if expense_list %}
    <ul>
    {% for transaction in expense_list %}
      <li>{{ transaction.source }} - {{ transaction.amount }} {{ transaction.account.currency }}
        ({{ transaction.transaction_date }})
      </li>
    {% endfor %}
    </ul>
    <p>Total expense sum: - {{ total_expense_sum }} </p>
  {% else %}
    <p>No income</p>
  {% endif %}
{% endblock %}